certifi==2021.10.8
cycler==0.11.0
docopt==0.6.2
fonttools==4.29.1
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.2
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pykwalify==1.8.0
pyparsing==3.0.7
pyradiomics==3.0.1
PySide6==6.2.3
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
shiboken6==6.2.3
SimpleITK==2.1.1
six==1.16.0
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
typing_extensions==4.1.1
